@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.3rem;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 120px;
}

.nav-desktop-group {
  display: none;
}

#btn-nav-phone {
  background-color: rgba(115, 117, 120, 0.2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  scroll-snap-align: start;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content-hdr {
  margin-top: 5rem;
  text-align: center;
}

.content-title {
  font-size: 36px;
}

.info-txt {
  opacity: 0.6;
  font-size: 0.9rem;
}

.info-txt-more {
  text-decoration: underline;
}

footer {
  margin-bottom: 5rem;
  text-align: center;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  padding: 8px 165px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  background-color: rgba(23, 26, 32, 0.8);
  color: whitesmoke;
}

.btn-secondary {
  color: rgba(23, 26, 32, 0.8);
}

.btn-dark {
  background-color: black;
  color: whitesmoke;
}

.footer-txt {
  padding-top: 1rem;
  font-size: 0.8rem;
  text-decoration: underline;
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.nav-phone {
  position: fixed;
  right: -320px;
  width: 320px;
  background-color: white;
  height: 100%;
}

.nav-phone.active {
  right: 0;
}

.btn-close {
  position: relative;
  left: 80%;
  background: none;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.nav-list {
  padding: 1.5rem;
}

li {
  padding: 8px;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

#model-3-content {
  background-image: url('./assets/Homepage-Model-3-RHD-Mobile.avif');
}

#model-y-content {
  background-image: url('./assets/Homepage-ModelY-RHD-Mobile.avif');
}

#model-s-content {
  background-image: url('./assets/Model-S-homepage-mobile.avif');
}

#model-s-content > footer > .footer-txt {
  text-decoration: none;
}

#solar-content {
  background-image: url('/assets/Homepage-SolarPanels-Mobile.avif');
}

#model-x-content {
  background-image: url('./assets/Homepage-Model-X-Mobile-LHD_001.avif');
}

#model-x-content > footer > .footer-txt {
  text-decoration: none;
  color: white;
}

#accessories-content {
  background-image: url('./assets/Homepage-Accessories-Mobile.avif');
}

@media (min-width: 768px) {
  .btn-group {
    flex-direction: row;
  }

  .btn {
    padding: 10px 75px;
  }

  #model-3-content {
    background-image: url('./assets/Homepage-Model-3-Desktop-RHD.avif');
  }

  #model-y-content {
    background-image: url('./assets/Homepage-Model-Y-Global-Desktop.avif');
  }

  #model-s-content {
    background-image: url('./assets/Model-S-desktop.avif');
  }
  #solar-content {
    background-image: url('/assets/Desktop_SolarPanels.avif');
  }

  #model-x-content {
    background-image: url('./assets/Model-X-Desktop-LHD.avif');
  }

  #accessories-content {
    background-image: url('./assets/Desktop_Accessories.avif');
  }
}

@media (min-width: 992px) {
  #btn-nav-phone {
    display: none;
  }

  .page-hdr {
    justify-content: space-evenly;
  }

  .nav-desktop-group {
    display: block;
  }

  a {
    margin-right: 10px;
  }
}

li:hover,
.btn-close:hover {
  background-color: rgba(115, 117, 120, 0.2);
  border-radius: 5px;
}
